@media (max-width:1200px) {
    .main-link-icon {
        align-items: baseline;
    }

    .main-link-icon .common-btn {
        display: none;
    }
}

@media (max-width:1025px) {
    .container .services-section {
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
    }

    .common-heading h2 {
        font-size: 40px;
        margin: 0 0 10px 0;
    }
}

@media (max-width: 992px) {
    .col-lg-5.client-img {
        order: -1;
        text-align: center;
        margin-bottom: 45px;
    }

    .swiper-button-main {
        position: static;
        margin-top: 50px;
        bottom: 0;
    }

    .main-number {
        flex-direction: column;
        gap: 25px;
    }

    .banner-section p {
        max-width: 100%;
    }
    .grid-70-30 {
        display: grid
    ;
        grid-template-columns: 100%;
    }
    .get_say_social-icn {
        display: flex
    ;
        position: static;
        bottom: 40px;
        left: 130px;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .main-counter {
        gap: 25px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .main-text p {
        font-size: 16px;
    }

    .main-counter-card .card-text,
    .number-icon {
        font-size: 28px;
        line-height: normal;
        font-family: 'Poppins-Bold';
    }
    section {
        padding: 40px 0;
    }
}

@media (max-width:600px) {
    .container .services-section {
        grid-template-columns: repeat(1, 1fr);
        justify-content: space-between;
    }

    .common-heading h2 {
        font-size: 30px;
        margin: 0 0 10px 0;
    }

    .common-heading p {
        font-size: 16px;
        max-width: 100%;
    }
    .get_form_inner {
        display: block;
        padding: 30px 20px;
        background: #fff;
        box-shadow: -4px -2px 20px -7px #cfd5df;
    }
    .get_say_info_sec i {
        color: #fff;
        font-size: 23px;
    }
}