
@media (max-width:1200px) {
    .main-link-icon {
        align-items: baseline;
    }
    .main-link-icon .common-btn{
         display: none;
    }
}
@media (max-width:1025px) {
    .container .services-section {
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
    }
    .common-heading h2 {
        font-size: 40px;
        margin: 0 0 10px 0;
    }
}
@media (max-width:600px) {
    .container .services-section {
        grid-template-columns: repeat(1, 1fr);
        justify-content: space-between;
    }
    .common-heading h2 {
        font-size: 30px;
        margin: 0 0 10px 0;
    }
    .common-heading p {
        font-size: 16px;
        max-width: 100%;
    }
}